.promo {
    margin-bottom: 0px !important;
}

.womenItem {
    background-image: url(../../assets/img/covers/cover-1.jpg);
}

.menItem {
    background-image: url(../../assets/img/covers/cover-2.jpg);
}

.kidItem {
    background-image: url(../../assets/img/covers/cover-3.jpg);
}

.innerItem {
    min-height: 470px;
}

.itemHeader {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    width: fit-content;
}

.topSeller {
    padding-bottom: 0px !important;
}

.footer {
    background-image: url(../../assets/img/patterns/pattern-2.svg);
}

.bags {
    min-height: 400px;
    background-image: url(../../assets/img/site/bags.png);
}

.shirts {
    min-height: 400px;
    background-position: -70px -300px;
    background-image: url(../../assets/img/site/mensshirts.png);
}

.dresses {
    min-height: 400px;
    background-position: -400px -400px;
    background-image: url(../../assets/img/site/womensdresses.png);
}

.sweatshirts {
    min-height: 400px;
    background-position: -200px -400px;
    background-image: url(../../assets/img/site/sweatshirt.png);
}

.h2, h2 {
    font-size: 2.75rem;
}

.h4, h4 {
    font-size: 1.75rem;
}

.h5 {
    font-size: 1.5rem;
}

.heading-xxs h2 {
    font-size: inherit;
}

.sr-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skiplink a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skiplink a:focus {
    position: static;
    width: auto;
    height: auto;
}

h3 a.d-block {
    font-size: 1rem !important;
    color: #0056b3;
    text-decoration: underline; /* Підкреслення важливе для доступності */
}

.h2BestPicks, h2.h2BestPicks {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.correct {
    background-color: #e8f5e9 !important;
    border-top: 4px solid #1b5e20 !important;
    border-bottom: 4px solid #1b5e20 !important;
    color: #1b5e20 !important;
}

.border {
    border: 1px solid #595959;
    padding: 30px;
}

label {
    font-weight: 600;
    color: #212529;
}

.custom-select {
    width: inherit;
}

ul {
    padding-left: 0px;
    list-style: none;
}

legend {
    font-size: 100%;
    font-weight: bold;
}

h2.contactus, h2.alert-heading {
    font-size: 2.25rem !important;
    font-weight: 500;
    line-height: 1.2;
}

.inline-alert {
    padding: 0 .2rem 0 .2rem;
    border-left: 4px solid #a50e0e;
    background-color: #fff5f5;
    color: #790000;
}

input:focus, select:focus {
    outline: 3px solid #0056b3 !important;
    outline-offset: 2px;
    border-color: #0056b3 !important;
    box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.25);
}

.skip-link {
    position: absolute;
    left: -999px;
    top: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 9999;
    text-decoration: none;
    font-weight: bold;
}

.skip-link:focus,
.skip-link:focus-visible {
    left: 0;
    top: 0;
    outline: 3px solid #ffeb3b;
    outline-offset: -3px;
}